body {

    background-size: cover;
    height: 100%;
    width: 100%;
    text-align: center;
    background-image: url("https://wallpaperaccess.com/full/1404344.png");
}

.title {
    display: inline-block;
    font-size: 120px;
}


.pressed{
    box-shadow: 0 3px 4px 0 #DBEDF3;
    opacity: 0.5;
}



button {
    height: 200px;
    width: 200px;
    display: inline-block;
}

footer {
    font-size: 40px;
    color: greenyellow;
    position: fixed;
    left: 50%;
    bottom: 50px;
}

img {

    height: 100px;
    width: 100px;
}

h1 {
    color: white;
    font-family: montserrat;
}

.p {
    font-size: 50px;
    border: none;
    background-size: cover;
    background-image: url("https://c4.wallpaperflare.com/wallpaper/970/884/848/naruto-shippuuden-wallpaper-preview.jpg");
    font-family: sacramento;
    color: white;
    font-weight: bold;
}

.i {
    background-size: cover;
    border: none;
    background-image: url("https://c4.wallpaperflare.com/wallpaper/100/30/528/anime-naruto-itachi-uchiha-wallpaper-preview.jpg");
    font-size: 50px;
    font-family: sacramento;
    color: white;
    font-weight: bold;
}

.m {
    background-size: cover;
    border: none;
    background-image: url("https://wallpapers.com/images/high/naruto-madara-uchiha-peerdzdb0ru3x47i.webp");
    font-size: 50px;
    font-family: sacramento;
    color: white;
    font-weight: bold;
}

.o {
    background-size: cover;
    border: none;
    background-image: url("https://wallpapers.com/images/featured/orochimaru-kejgkby1aeabrl4z.webp");
    font-size: 50px;
    font-family: sacramento;
    color: white;
    font-weight: bold;
}

.s {
    background-size: cover;
    border: none;
    background-image: url("https://wallpapers.com/images/high/akatsuki-uchiha-sasuke-naruto-iphone-0l3qoe7g1gutiwx3.webp");
    font-size: 50px;
    font-family: sacramento;
    color: white;
    font-weight: bold;
}

.a {
    background-size: cover;
    border: none;
    background-image: url("https://wallpapers.com/images/hd/akatsuki-splattered-with-red-and-black-0tydaaioqxabopb0.webp");
    font-size: 50px;
    font-family: sacramento;
    color: white;
    font-weight: bold;
}

.n {
    background-size: cover;
    border: none;
    background-image: url("https://wallpapers.com/images/high/naruto-nine-tails-4zbinlpstd30kj1a.webp");
    font-size: 50px;
    font-family: sacramento;
    color: white;
    font-weight: bold;
}